#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  }